# ------------------------
# Lua Project Git Ignore file patterns
#
# Ignore all except patterns starting with !
# Add comments on separate lines, not same line as pattern
# ------------------------

# ------------------------
# Ignore everything in root directory
/*
# ------------------------

# ------------------------
# Common project files
!CHANGELOG.md
!README.md
!Makefile
# ------------------------

# ------------------------
# Include Lua project & config
!after/
!ftdetect/
!lua/
!snippets/
!.neoconf.json
!.stylua.toml
!init.lua
!neovim.yml
!selene.toml
# ------------------------

# ------------------------
# Include Git & CI workflow
!.gitattributes
!.gitignore
!.github/
# ------------------------
